.AdministrationProfile{
    color: #000000b0;
    text-align: center;
    margin-top: 23px;
    padding-top: 1%;

    
}
.admin1{
  background-image: url('../../images/ricardo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -43px -20px -20px -20px;
    height: 92.6vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #0000004a;
  padding: 40px;
  margin-left: 15%;
  width: 70%;
  border-radius: 30px;
  margin-top: 3%;
  box-shadow: 17px 20px 17px #000000;
  /* height: 59.66vh; */

  }
  .grid-item1 {
    background-color: rgb(255 255 255 / 49%);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 11vh;
    text-align: center;
    font-size: 20px;

    
  }
.btn111{
padding: 5% 20% 5% 30%;

  } 

  
  .gps{
    text-align: left;
    /* background-color: blue; */
    color: black;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}
